@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
html {
  font-family: "Poppins,sans-serif";
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  /* height: 100% !important; */
  background-color: #f5f5f5;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
  text-align: left;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
/* #menu .navbar-brand {
  float: left;
  height: 50px;
  padding: 0px 0px !important;
  font-size: 18px;
  line-height: 20px;
} */

.navbar-brand{
  display: ruby;
}

#menu.navbar-default {
  background-color: #f5f5f5;
  /* background-color: #e3ded9; */
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding-block: 20px;
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #f5f5f5;
  text-transform: uppercase;
  margin-top: -15px !important;
}

/* .brand-text {
  display: none;
} */
@media (min-width: 768px) {
  .brand-text {
    display: block;
    font-size: medium;
    margin-top: -10px;
    color: #fff;
  }
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  padding:0px 8px 6px 8px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  /* background: #5d5650; */
  background: rgb(255, 117, 32);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  /* background: #f4d956; */
  background: #ffff;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 90px;
  bottom: 0;
  margin-left: -30px;
  left: 48%;
}
.section-title p {
  font-size: 18px;
}
.modal-btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  padding: 10px 30px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  /* background-color: #000; */
  /* background-image: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 1px solid #FF5733;
}
.modal-btn-custom:hover,
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #000;
  background-image: none;
  background-color: #fff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  background: url(../img/hero-bg1.webp) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  /* background:  rgb(130, 130, 130); */
  /* background: linear-gradient(to right, rgb(255 255 255 / 40%), rgb(0 0 0 / 40%)); */
  height: 100%;
}
.brand-text {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.intro h1 span {
  font-weight: 800;
  color: #5ca9fb;
}
.intro p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}
header .intro-text {
  padding-top: 150px;
  padding-bottom: 180px;
  text-align: center;
}
/* Features Section */
#features {
  background: #f5f5f5;
  /* background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%); */
}
#features h2{
  /* color: #fff; */
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
/* About Section */
#about {
  padding: 100px 0;
  text-align: center;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: #000;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #FF5733;
}
#about h4 {
  text-align: center;
  color: rgb(30, 29, 29);
}
#about h2::after {
    position: absolute;
    content: "";
    background-color: #99201c;
    background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
    height: 4px;
    width: 90px;
    bottom: 0;
    left: 0;
    margin-left: -30px;
    left: 48%;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about .list-style li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  /* margin-top: 10px; */
  height: 300px;
  /* background: #fff; */
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.container4 {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  
}
.card{
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Nohemi', sans-serif;
  letter-spacing: 3%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.84px;
  padding: 35px 30px 35px 30px;
  align-items: center;
  text-align: center;
  border: 1px;
}
.card-1{
  box-shadow: 10px 10px #D3D3D3;
  /* background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ff7878 74%); */

}
.card-2{
  box-shadow: 10px 10px #D3D3D3;
}
.card-3{
  box-shadow: 10px 10px #D3D3D3;
}
.card-4{
  box-shadow: 10px 10px #D3D3D3;
}

#about > div > div.row > div:nth-child(3) > div > div > div > img{
  width: 120px;
  /* margin-top: 10px; */
  height: 120px;
  /* background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
  border-right: 0;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.06); */
  /* animation: fadeInAnimation 5s; */
}
/* Services Section */
#services {
  padding: 100px 0;
  /* background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
  background: #f5f5f5;
  color: #000;
}
#services .service-desc {
  margin: 30px 10px 20px;
}
#services h2 {
  color: #FF5733;
}
#services h3 {
  font-size: 22px;
  margin: 0 0 20px;
  color: #000;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background-color: #99201c;
  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
  height: 4px;
  width: 100px;
  bottom: 0;
  margin-left: -30px;
  left: 48%;
}
#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  border-radius: 50%;
  color: #000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
#services > div > div.row > div > img{
  background-color: #000;
  height: 125px;
  width: 125px;
}
#services > div > div.row > div > img:hover{
  background-color: #000;
  height: 160px;
  width: 160px;
}
#services p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#services .service-desc {
  margin-bottom: 40px;
}
#services .service-desc h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #FF5733;
  font-weight: bold;
  font-size: 16px;
}
/* Dos and Donts Section */
#dosdonts .section-title {
  margin-bottom: 20px;
}
#dosdonts {
  padding: 10px 0;
}
#dosdonts h2{
  color: #FF5733;
}
#dosdonts .section-title h2::after {
  background-color: #99201c;
  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
}
/* #dosdonts .list-style li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #28a745; 
  font-size: 15px;
  font-weight: 300;
  padding-right: 0px;
  margin-right: 8px;
} */




#dosdonts .list-style li{
  font-size: 18px;
  color: rgb(28, 27, 27);
}
#dosdonts .dos{
  margin: auto;
  width: 80%;
  padding-top: 10px;
  padding-left: 100px;
}
#dosdonts .donts{
  margin: auto;
  width: 80%;
  padding-top: 10px;
  padding-left: 100px;
}
.dosDonts-img{
  margin-top: 120px;
  height: 350px;
  width: 350px;

}
/* Why Outsource Section */
#outsource{
  padding: 50px 0;
  /* background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
  background: #f5f5f5;
  color: #000;
}
#outsource h2{
  color: #FF5733;
}
#outsource h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #000;
}
#outsource .list-style li:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #FF5733;
  font-size: 18px;
  font-weight: 300;
  margin-right: 8px;
}
#outsource .list-style li{
  font-size: 18px;
  color: #000;
}
#outsource p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#outsource .outsource-div{
  margin: auto;
  width: 100%;
  padding-top: 10px;
  padding-left: 100px;
}
#outsource .section-title h2::after {
  background-color: #99201c;
  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
}
/* Testimonials Section */
#testimonials {
  padding: 100px 0;
  background: #f6f6f6;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
/* Team Section */
#team {
  padding: 100px 0;
}
#team h2{
  color: #fff;
}
#team .section-title h2::after {
  background: #f4d956;
}
#team h4 {
  margin: 5px 0;
  color: #f4d956;
  font-weight: 600;
}
#team p {
  color: rgb(130, 130, 130);
  line-height: 24px;
}
#team .team-img {
  width: 150px;
  height: 150px;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}
#team .card{
  font-family: 'Nohemi', sans-serif;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.84px;
  /* width: 200px; */
  padding: 35px 30px 35px 30px;
  /* border-radius: 16px; */
  align-items: center;
  text-align: center;
  border: 1px;
  background-color: #FF5733;
}
.caption:hover{
  /* background-color: #608dfd; */
  color: #fff;
  height: 80px;
}
/* Contact Section */
#contact {
  padding: 100px 0;
  /* background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9)); */
  background: #f5f5f5;
  color: #fff;
}
#contact .section-title {
  margin-bottom: 20px;
}
#contact .section-title p {
  font-size: 18px;
  line-height: 24px;
}
#contact h2 {
  color: #FF5733;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background-color: #99201c;
  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
  height: 4px;
  width: 100px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #FF5733;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  color: #FF5733;
}
#contact .btn-custom:hover {
  color: #fff;
  background: #FF5733;
  border: 2px solid #fff;
  font-weight: bold;
}
label {
  font-size: 12px;
  color: rgb(130, 130, 130);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control:-moz-placeholder {
  color: #777;
}
.form-control::-moz-placeholder {
  color: #777;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: #FF5733;
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #FF5733;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #608dfd;
  background: #fff;
}
/* Footer Section*/
#footer {
  background-color: #99201c;
  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
  padding: 10px 0;
}
#footer p {
  color: #fff;
  font-size: 14px;
}
#footer a {
  color: #608dfd;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}
.modal-backdrop.fade {
  /* filter: alpha(opacity=0); */
  opacity: 0.7;
}
.modal-dialog {
  margin: 150px auto !important;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .9;
}
.modal-header .close {
  margin-top: -30px;
  color: #fff;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  color: rgba(255, 255, 255, 0.75);
}
.modal-padding{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
}
.modal-content{
  margin: auto;
  width: 80%;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
/* Media Queries starts from here */
@media (max-width: 1200px) {
  #menu a.navbar-brand {
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  .container4 {
    gap: 16px;
  }
  #dosdonts .dos{
    width: 100%;
    padding-left: 0px;
  }
  #dosdonts .donts{
    width: 100%;
    padding-left: 0px;
  }
  #outsource .outsource-div {
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
  }
  #outsource .list-style li {
    font-size: 14px;
}
.custom-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.margin-bottom-30{
  margin-bottom: 0px;
}
}
@media (max-width: 768px) {
  #about img {
    margin: 50px 0;
  }
  .intro h1 {
    font-size: 60px;
}
.container4 {
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.card{
  padding: 0px 20px 40px 20px;
        width: 80%;
        /* height: 80%; */
        margin: 20px;
}
#menu.navbar-default .navbar-nav > li > a{
  margin-bottom: 10px;
}
#dosdonts .dos{
  width: 100%;
  padding-left: 0px;
}
#dosdonts .donts{
  width: 100%;
  padding-left: 0px;
}
#outsource .outsource-div {
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
}
.modal-padding{
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.custom-header{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro{
height: 50%;
}
.btn{
  margin-left: 20px;
}
}

@media (max-width: 468px) {
  #about img {
    margin: 50px 0;
  }
  .intro h1 {
    font-size: 36px;
}
.custom-header{
  display: flex;
  align-items: initial;
}
#menu a.navbar-brand {
  font-size: 16px;
}
.modal-padding{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.margin-bottom-30{
  margin-bottom: 30px;
}
.intro {
  padding-top: 80%;
}
}


.responsive-logo {
  height: 80px;
  width: 100px; /* Default width */
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .responsive-logo {
    width: 70px; /* Smaller width on smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-logo {
    width: 50px; /* Even smaller width on very small screens */
  }
}

.card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card.animate {
  opacity: 1;
  transform: translateY(0);
}

.Card{
    position: relative;
    height: 250px;
    border-radius: 20%;
    color: #fff;
    background-color: #99201c;
    background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
    /* background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%); */
}



.screen {
  /* background: linear-gradient(90deg, #5D54A4, #7C78B8); */
  position: relative;
  height: 400px;
  width: 360px;
  /* background-color: #ffffff; */
  /* background-image: linear-gradient(315deg, #ffffff 0%, #cea177 74%); */
  box-shadow: 0px 0px 2px #f29418;
  background-color: #f06543;
  background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
}
.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background-color:fff;
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background-color: #f06543;
background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background-color: #f06543;
background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background-color: #f06543;
background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 100px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
